@tailwind base;
@tailwind components;
@tailwind utilities;

/* here we are adding our own font family*/
@font-face {
  font-family: anzo1;
  src: url(./assets/file.woff2);
}



@font-face {
  font-family: anzo2;
  src: url(./assets/file1.woff2);
}

@font-face {
  font-family: anzo3;
  src: url(./assets/file2.woff2);
}

@font-face {
  font-family: anzo4;
  src: url(./assets/file3.woff2);
}

@font-face {
  font-family: anzo5;
  src: url(./assets/file4.woff2);
}

@font-face {
  font-family: anzo6;
  src: url(./assets/madefor-text.var.original.woff2);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: #fff;
}
html,
body{
  height:100;
  width: 100;
  background-color: #111;
}